body {
    display: flex;
    background-color: gainsboro;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 3rem;

    /* Animazione presente a fine pagina css */
    animation: backgroundAnimation 10s infinite;
  }

  .centered{
    width: 50rem;
    padding: 2rem;
    box-sizing: border-box;
    justify-items: center;
    background-color: white;
    border-radius: 3rem;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);

  }

  .InfoRequired{
    color: gray;
    padding-bottom: 0px;
    margin-bottom: 0;
    padding-top: 2rem;
    font-size: 11px;
  }
  
  #password {
    width: 25rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 1rem;
  }
  
  #password-strength {
    width: 25.9rem;
    height: 10px;
    background-color: #ddd;
    margin-top: 10px;
    border-radius: 1rem;
  }
  
  #strength-bar {
    height: 10px;
    width: 0%;
    border-radius: 1rem;
    background-color: green;
  }
  
  #password-requirements {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #password-requirements li {
    margin: 5px 0;
  }
  
  .valid {
    color: green;
  }
  
  .valid::before {
    content: '✔️ ';
  }
  


  /* Animazioni */
  @keyframes backgroundAnimation {
    0%   { background-color: #7fc1ff; }   /* Colore iniziale */
    33%  { background-color: #29fff4; }   /* Secondo colore */
    66%  { background-color: #5ad5fa; }   /* Terzo colore */
    100% { background-color: #0a8ad4; }   /* Torna al colore iniziale */
  }
  